.vscode
build/

bitcode/
features/
features-count/
features-normalized/
merged-*/
plots/

logs/

0_SC_*/
models-validation/predictions/
models-validation/data/

executables/
**/placeholder/default/
**/placeholder/min*/
**/placeholder/es*/
**/placeholder/pl*/