.vscode
build/

bitcode/
features/
features-count/
features-normalized/
merged-*/
plots/
parsed/
parsed-metrics/

logs/

0_SC_*/
models-validation/predictions/
models-validation/data/

executables/
**/placeholder/default/
**/placeholder/min*/
**/placeholder/es*/
**/placeholder/pl*/
energy-scaling/**/predictions/
energy-scaling/**/parsed/
energy-scaling/**/plots/
energy-scaling/**/logs/
gpu-freq.csv