BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 2
ContinuationIndentWidth: 1
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Left
Standard: Cpp11
IndentPPDirectives: BeforeHash

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true